<!DOCTYPE html>
{% autoescape false %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The LIVEHack Website</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets2/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets2/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets2/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets2/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets2/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets2/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets2/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets2/vendor/venobox/venobox.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets2/css/style.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='style2.css') }}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="">Welcome {{ username }}! </a></h1>
      <h2><span>You are logged in.<span/></h2>
      <h3><a href="/">Home</a>        <a href="/logout">Logout</a></h3>


    </div>
  </header><!-- End Header -->

  


  <div class="credits">

          
  </div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets2/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets2/vendor/venobox/venobox.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Contact Us</h4>
            <ul>
		  <!-- Write form -->
		  <div class="container">
		    <div class="comment-form">
		      <form action="{{ url_for('home') }}" method="POST">
			<input type="text" name="comment" placeholder="Write a comment" autocomplete="off" />
			<input type="submit" value="Submit" />
		      </form>
		    </div>

            </ul>
          </div>

          <div class="footer-col">
            <h4>Comments:</h4>
            <ul>
		    <!-- Search form -->
		    <form method="GET">
		      <input type="text" name="q" 
			     placeholder="Search query" autocomplete="off" />
		      <input type="submit" value="Filter comments" />
		    </form>

		   <!-- Comments -->
		   <div class="comment-section">
		     {% if not search_query %}
		    
		     {% else %}
		       <h3>Showing comments containing "{{ search_query }}":</h3>
		     {% endif %}
		  
		     {% for comment in comments %}
		       <div class="comment">
			 <p>{{ comment }}</p>
		       </div>
		     {% endfor %}
		   </div>
		 </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
            
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>		    
	  <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>		    
		    
		    
		    
            </ul>
          </div>
          
        </div>
      </div>
    </footer>











</body>

</html>
{% endautoescape %}
